html, body{
    margin:0;
    padding: 0;
    min-width: 100%;
}
*{
    color: white;
}

.body{
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,82,255,1) 100%);
    margin:0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    max-height: 100vh;
}