.champion_summary{
    width: 250px;
    background-color: transparent;
    border: none;
    display: flex;
    padding: 3px;
    cursor: pointer;
}
.champion_summary:hover{
    outline: solid 1px white;
}
.champion_summary:focus{
    outline: none;
}


@media (max-width: 600px) {
    .hide-mobile{
        display: none;
    }
    .champion_summary{
        max-width: fit-content;
    }
}


.champion_summary_img{
    display: block;
    height: 50px;
    width: 50px;
}